* {
    box-sizing: border-box;
}

body {
    background-color: #54478c;
    font-family: 'Rubik';
    font-size: 10px;
}

.encabezado h1 {
    text-align: center;
    font-weight: 500;
    color: white;
    background-color: #0db39e;
    padding: 1.5rem;
    font-size: 2rem;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
    background-color: #0db39e;
    padding: 2.8rem;
    padding-bottom: 3.2rem;
}

.registro label {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.registro input {
    min-height: 3rem;
    border: none;
    border-radius: .9rem;
    text-indent: .9rem;
    font-size: 1.3rem;
}

.registro input:focus {
    outline: none;
}

.registro input[type=submit]{
    margin-top: 3rem;
    background-color: #f1c453;
    text-indent: 0;
    transition: 200ms;
}

.registro input[type=submit]:hover{
    background-color: #f29e4c;
}

.mensajeError{
  text-align: right;
  color: red;
  font-size: 1.5rem;
}